<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" 
             Name="NUnit Framework $(var.DisplayVersion)" 
             Language="1033" 
             Version="!(bind.FileVersion.nunit.framework.45.dll)" 
             Manufacturer="nunit.org"
             UpgradeCode="880B355E-1916-446B-A3E1-D2B72CF2A0EC">
        
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <!-- Include the information that is common to all installs -->
        <?include ..\common\variables.wxi ?>

        <!-- Features -->
        <?include ..\common\common-features.wxi ?>
        <?include framework-features.wxi ?>
    </Product>

    <!-- Directories -->
    <?include ..\common\common-directories.wxi ?>
    <?include framework-directories.wxi ?>

    <!-- Components and files -->
    <?include ..\common\common-files.wxi ?>
    <?include framework-files.wxi ?>
</Wix>