# EditorConfig helps developers define and
# maintain consistent coding styles between
# different editors and IDEs

# http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf

[*.proj]
indent_size = 2

[*.csproj]
indent_size = 2

[*.vcxproj]
indent_size = 2

[*.xproj]
indent_size = 2

[*.json]
indent_size = 2

[*.config]
indent_size = 2

[*.nuspec]
indent_size = 2

[*.xml]
indent_size = 2