# EditorConfig helps developers define and 
# maintain consistent coding styles between 
# different editors and IDEs

# http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4

[*.csproj]
indent_style = space
indent_size = 2

[*.vcxproj]
indent_style = space
indent_size = 2

[*.config]
indent_style = space
indent_size = 2

[NUnit.proj]
indent_style = tab
indent_size = 2