# Normalize line endings
* text=auto


# Prevent files from being exported
.gitattributes export-ignore
.gitignore     export-ignore

# Resharper DotSettings files are in Unix Format
*.DotSettings text eol=lf
