# Normalize line endings
* text=auto

# Prevent files from being exported
.gitattributes export-ignore
.gitignore     export-ignore

# ReSharper DotSettings files are in Unix Format
*.DotSettings text eol=lf

# MonoDevelop on Linux uses CRLF for these files
*.sln	text	eol=crlf
packages/repositories.config	text	eol=crlf

# Allows checking out and developing in Windows
# while mounting and running tests in Linux
*.sh    text eol=lf
build   text eol=lf
