image: Visual Studio 2017

branches:
  except:
    - /travis-.*/

build_script:
  - ps: .\build.ps1 -Target "Appveyor" -Configuration "Release"

# disable built-in tests.
test: off

deploy:
  - provider: NuGet
    server: https://www.myget.org/F/nunit/api/v2
    api_key:
      secure: wtAvJDVl2tfwiVcyLExFHLvZVfUWiQRHsfdHBFCNEATeCHo1Nd8JP642PfY8xhji
    skip_symbols: true
    on:
      branch: master
