pr: [ '*' ]

trigger:
  branches:
    include: [ 'master', 'release' ]
    exclude: [ 'refs/tags/*' ]

jobs:

- job: Windows
  pool:
    vmImage: windows-latest
  steps:

  - task: UseDotNet@2
    displayName: 'Install .NET SDK 6.0'
    inputs:
      version: 6.0
      performMultiLevelLookup: true

  - task: UseDotNet@2
    displayName: 'Install .NET SDK 7.0'
    inputs:
      version: 7.0.100-rc.1.22431.12
      performMultiLevelLookup: true

  - powershell: |
     dotnet tool restore
     dotnet cake --target=Test --test-run-name=Windows --configuration=Release
    displayName: Build, test, and publish results

  - powershell: dotnet cake --target=Package
    displayName: Package

  - task: PublishBuildArtifacts@1
    displayName: Save package artifacts
    inputs:
      PathtoPublish: $(Build.ArtifactStagingDirectory)
      ArtifactName: Package

  - task: PublishBuildArtifacts@1
    displayName: Save test results artifacts
    condition: always()
    inputs:
      PathtoPublish: test-results
      ArtifactName: Test results (Windows)

- job: Linux
  pool:
    vmImage: ubuntu-latest
  steps:

  - task: UseDotNet@2
    displayName: 'Install .NET SDK 6.0'
    inputs:
      version: 6.0
      performMultiLevelLookup: true

  - task: UseDotNet@2
    displayName: 'Install .NET SDK 7.0'
    inputs:
      version: 7.0.100-rc.1.22431.12
      performMultiLevelLookup: true

  - task: UseDotNet@2
    displayName: 'Install .NET runtime 5.0'
    inputs:
      packageType: runtime
      version: 5.0.x

  - task: UseDotNet@2
    displayName: 'Install .NET Core runtime 3.1'
    inputs:
      packageType: runtime
      version: 3.1.x

  - bash: sudo apt-get install fsharp
    displayName: Install F# for Mono

  - bash: |
     dotnet tool restore
     dotnet cake --target=Test --test-run-name=Linux --configuration=Release
    displayName: Build, test, and publish results

  - task: PublishBuildArtifacts@1
    displayName: Save test results artifacts
    condition: always()
    inputs:
      PathtoPublish: test-results
      ArtifactName: Test results (Linux)

- job: macOS
  pool:
    vmImage: macOS-latest
  steps:

  - task: UseDotNet@2
    displayName: 'Install .NET SDK 6.0'
    inputs:
      version: 6.0
      performMultiLevelLookup: true

  - task: UseDotNet@2
    displayName: 'Install .NET SDK 7.0'
    inputs:
      version: 7.0.100-rc.1.22431.12
      performMultiLevelLookup: true

  - task: UseDotNet@2
    displayName: 'Install .NET runtime 5.0'
    inputs:
      packageType: runtime
      version: 5.0.x

  - task: UseDotNet@2
    displayName: 'Install .NET Core runtime 3.1'
    inputs:
      packageType: runtime
      version: 3.1.x

  - bash: |
     dotnet tool restore
     dotnet cake --target=Test --test-run-name=macOS --configuration=Release
    displayName: Build, test, and publish results

  - task: PublishBuildArtifacts@1
    displayName: Save test results artifacts
    condition: always()
    inputs:
      PathtoPublish: test-results
      ArtifactName: Test results (macOS)
