<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    
    <Fragment>

        <DirectoryRef Id="FrameworkBinFolder" FileSource="$(var.InstallImage)/bin">
            <Directory Id="FrameworkNet11Folder" Name="net-1.1">
              <Component Id="nunit.framework.dll_net1.1_dir" Guid="9b19e04a-32f7-42de-812a-93988c581e5b">
                <!--<Condition>NOT INSTALLINGAC</Condition>-->

                <File Id="nunit.framework.dll_net1.1_dir"
                      DiskId="1"
                      KeyPath="yes"
                      Assembly="no"
                      Name="nunit.framework.dll"/>

              </Component>

              <!--
              <Component Id="nunit.framework.dll_net1.1_gac" Guid="4fac4e20-d135-4ff2-b595-4116f7be192c">
                <Condition>INSTALLINGAC</Condition>

                <File Id="nunit.framework.dll_net1.1_gac"
                      DiskId="1"
                      KeyPath="yes"
                      Assembly=".net"
                      Name="nunit.framework.dll"/>

              </Component>
              -->

              <Component Id="nunit.interfaces.dll_net1.1" Guid="AEB6FE3E-C71C-4a99-931C-D0ABA08F8491">
                <File Id="nunit.interfaces.dll_net1.1"
                      DiskId="1"
                      KeyPath="yes"
                      Assembly="no"
                      Name="nunit.interfaces.dll"/>

              </Component>

              <Component Id="nunit.framework.tests.dll_net1.1" Guid="4c3d2d31-f468-4bd2-832f-19f3e500f24a">
                <File Id="nunit.framework.tests.dll_net1.1"
                      DiskId="1"
                      KeyPath="yes"
                      Assembly="no"
                      Name="nunit.framework.tests.dll"/>

              </Component>

              <Component Id="test_assembly.dll_net1.1" Guid="141B9AB8-1AE2-4ef0-8AD4-2214B8C85044">
                <File Id="test_assembly.dll_net1.1"
                      DiskId="1"
                      KeyPath="yes"
                      Assembly="no"
                      Name="test-assembly.dll"/>

              </Component>

              <Component Id="nunit.framework.xml_net1.1" Guid="a657bbb7-48fd-49de-b0c9-79d143645d16">

                <File Id="nunit.framework.xml_net1.1"
                      DiskId="1"
                      KeyPath="yes"
                      Name="nunit.framework.xml"/>

              </Component>

              <Component Id="AssemblyReferenceFolder_1.1" Guid="8fa8f040-2de4-4192-82e2-a5c6f3f0f082">
                <RegistryKey Id="R__Assemblies_1.1" Root="HKLM"
                             Key="Software\Microsoft\.NETFramework\AssemblyFolders\NUnit [ProductVersion]"
                             Action="createAndRemoveOnUninstall">

                  <RegistryValue Id="R__Assemblies_1.1_Default" Action="write" Type="string" Value="[FrameworkNet11Folder]"/>
                </RegistryKey>
              </Component>
            </Directory>
        </DirectoryRef>

        <PropertyRef Id="NETFRAMEWORK11SDKDIR"/>

        <Feature Id="FrameworkNet11" Title="NUnit Framework for .NET 1.1" AllowAdvertise="no" Display="expand" InstallDefault="local" Level="0" TypicalDefault="install">
          <Condition Level="1">NETFRAMEWORK11SDKDIR</Condition>
          <Condition Level="10">NOT NETFRAMEWORK11SDKDIR</Condition>
          <ComponentRef Id="nunit.framework.dll_net1.1_dir"/>
          <!--<ComponentRef Id="nunit.framework.dll_net1.1_gac"/>-->
          <ComponentRef Id="nunit.framework.tests.dll_net1.1"/>
          <ComponentRef Id="test_assembly.dll_net1.1"/>
          <ComponentRef Id="nunit.interfaces.dll_net1.1"/>
          <ComponentRef Id="nunit.framework.xml_net1.1"/>
          <ComponentRef Id="AssemblyReferenceFolder_1.1"/>
        </Feature>

    </Fragment>

</Wix>