<?xml version="1.0" encoding="UTF-8"?>

<?include Definitions.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <Fragment>
        
        <DirectoryRef Id="FrameworkFolder">
            <Directory Id="FrameworkNet20Folder" Name="net-2.0">
                
                <Component Id="nunit.framework.dll_net2.0" Guid="eee247ab-5d00-45c5-bfa5-23e0aec1cf7d">

                    <File Id="nunit.framework.dll_net2.0" 
                          DiskId="1" 
                          KeyPath="yes" 
                          Source="$(var.SourceFolder)net\2.0\release\nunit.framework.dll"/>

                </Component>

                <Component Id="AssemblyReferenceFolder_2.0" DiskId="1" Guid="87667d1d-8542-41f7-99f2-b3900324d05a">
                    <RegistryKey Id="R__Assemblies_2.0"
                                 Action="createAndRemoveOnUninstall"
                                 Root="HKLM"
                                 Key="Software\Microsoft\.NETFramework\v2.0.50727\AssemblyFoldersEx\NUnit [ProductVersion]">

                        <RegistryValue Id="R__Assemblies_2.0_Default" Action="write" Type="string" Value="[FrameworkNet20Folder]"/>
                    </RegistryKey>
                </Component>

            </Directory>
        </DirectoryRef>

        <PropertyRef Id="NETFRAMEWORK20SDKDIR"/>

        <Feature Id="FrameworkNet20" Title="NUnit Framework for .NET 2.0" AllowAdvertise="no" Display="expand" InstallDefault="local" Level="0" TypicalDefault="install">
            <Condition Level="1">NETFRAMEWORK20SDKDIR OR REMOVE</Condition>
            <ComponentRef Id="nunit.framework.dll_net2.0"/>
            <ComponentRef Id="AssemblyReferenceFolder_2.0"/>
        </Feature>
        
	</Fragment>

</Wix>