<?xml version="1.0" encoding="UTF-8"?>

<?include Definitions.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    
    <Fragment>

        <DirectoryRef Id="FrameworkFolder">
            <Directory Id="FrameworkNet11Folder" Name="net-1.1">
                <Component Id="nunit.framework.dll_net1.1" Guid="9b19e04a-32f7-42de-812a-93988c581e5b">

                    <File Id="nunit.framework.dll_net1.1"
                          DiskId="1"
                          KeyPath="yes"
                          Source="$(var.SourceFolder)net\1.1\release\nunit.framework.dll"/>

                </Component>

                <Component Id="AssemblyReferenceFolder_1.1" DiskId="1" Guid="f2fdaa65-3b78-49ff-b074-272733fea148">
                    <RegistryKey Id="R__Assemblies_1.1" Root="HKLM"
                                 Key="Software\Microsoft\.NETFramework\AssemblyFolders\NUnit [ProductVersion]"
                                 Action="createAndRemoveOnUninstall">

                        <RegistryValue Id="R__Assemblies_1.1_Default" Action="write" Type="string" Value="[FrameworkNet11Folder]"/>
                    </RegistryKey>
                </Component>
            </Directory>
        </DirectoryRef>

        <PropertyRef Id="NETFRAMEWORK11SDKDIR"/>

        <Feature Id="FrameworkNet11" Title="NUnit Framework for .NET 1.1" AllowAdvertise="no" Display="expand" InstallDefault="local" Level="0" TypicalDefault="install">
            <Condition Level="1">NETFRAMEWORK11SDKDIR OR REMOVE</Condition>
            <ComponentRef Id="nunit.framework.dll_net1.1"/>
            <ComponentRef Id="AssemblyReferenceFolder_1.1"/>
        </Feature>

    </Fragment>

</Wix>