<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
        
        <WixVariable Id="WixUIBannerBmp" Value="NUnitBannerBmp.bmp"/>
        <WixVariable Id="WixUIDialogBmp" Value="NUnitDialogBmp.bmp"/>
    
        <UI Id="NUnitUI_Framework">
          
          <UIRef Id="WixUI_FeatureTree"/>

          <DialogRef Id="InstallOptionsDlg"/>

          <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="InstallOptionsDlg">1</Publish>

          <Publish Dialog="InstallOptionsDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
          <Publish Dialog="InstallOptionsDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg">1</Publish>

          <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallOptionsDlg" >1</Publish>

        </UI>
	</Fragment>
</Wix>