# Exception to default Analyzer rules

[*.cs]

# Field is never used.
# NUnit heavily relies on System.Reflection
dotnet_diagnostic.CS0169.severity = silent

# NUnit2007: The actual value should not be a constant
# To verify proper behaviour of tests, we need known numbers.
# Unlike other code we do not compare results of calculations with a known outcome.
dotnet_diagnostic.NUnit2007.severity = silent

# NUnit2009: The same value has been provided as both the actual and the expected argument
dotnet_diagnostic.NUnit2009.severity = silent

# NUnit1028: The non-test method is public
dotnet_diagnostic.NUnit1028.severity = warning

# IDE0052: Remove unread private members
dotnet_diagnostic.IDE0052.severity = warning
