<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*"
             Name="NUnit $(var.DisplayVersion)"
             Language="1033"
             Version="!(bind.FileVersion.nunit.framework.45.dll)"
             Manufacturer="nunit.org"
             UpgradeCode="ED9BC7BB-45EE-481A-9479-2753770EF704">

        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version is already installed; please uninstall it and re-run setup." AllowSameVersionUpgrades="yes" />

        <!-- Include the information that is common to all installs -->
        <?include ..\common\variables.wxi ?>

        <!-- Features -->
        <?include ..\common\common-features.wxi ?>
        <?include ..\runners\runner-features.wxi ?>
        <?include ..\framework\framework-features.wxi ?>

    </Product>

    <!-- Directories -->
    <?include ..\common\common-directories.wxi ?>
    <?include ..\runners\runner-directories.wxi ?>
    <?include ..\framework\framework-directories.wxi ?>

    <!-- Components and files -->
    <?include ..\common\common-files.wxi ?>
    <?include ..\runners\addin-files.wxi ?>
    <?include ..\runners\console-files.wxi ?>
    <?include ..\runners\engine-files.wxi ?>
    <?include ..\framework\framework-files.wxi ?>
</Wix>