<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" 
             Name="NUnit !(bind.FileVersion.nunit.engine.dll)" 
             Language="1033" 
             Version="!(bind.FileVersion.nunit.engine.dll)" 
             Manufacturer="nunit.org" 
             UpgradeCode="5bdef49a-7a86-42b8-9834-bf1eed5b36cc">
        
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <Condition Message="NUnit requires .NET 2.0, .NET 4.0 or Mono to be installed as a prerequisite.">
            FRAMEWORK20 OR FRAMEWORK40 OR MONODIRECTORY
        </Condition>

        <!-- ***************************************************************** -->
        <!-- **********  Define Properties used in the install      ********** -->
        <!-- ***************************************************************** -->

        <Property Id="FRAMEWORK20">
            <RegistrySearch Id="Framework20Registry" Type="raw" Root="HKLM" Key="Software\Microsoft\.NETFramework\policy\v2.0" Name="50727" />
        </Property>

        <Property Id="FRAMEWORK40">
            <RegistrySearch Id="Framework40Registry" Type="raw" Root="HKLM" Key="Software\Microsoft\.NETFramework\policy\v4.0" Name="30319" />
        </Property>

        <Property Id="MONODEFAULTCLR">
            <RegistrySearch Id="MonoDefaultClr" Type="raw" Root="HKLM" Key="Software\Novell\Mono" Name="DefaultCLR" />
        </Property>

        <Property Id="MONODIRECTORY">
            <RegistrySearch Id="MonoDirectory" Type="directory" Root="HKLM" Key="Software\Novell\Mono\[MONODEFAULTCLR]" Name="SDKInstallRoot" />
        </Property>

        <Property Id="CMD_EXE" Value="[!SystemFolder]cmd.exe" />
        
        <!-- ***************************************************************** -->
        <!-- *********  Properties for the Add Remove Programs list  ********* -->
        <!-- ***************************************************************** -->

        <Property Id="ARPCONTACT" Value="Charlie Poole" />
        <Property Id="ARPPRODUCTICON" Value="nunit_icon.exe" />
        <Property Id="ARPHELPLINK" Value="http://lists.sourceforge.net/lists/listinfo/nunit-users" />
        <Property Id="ARPURLINFOABOUT" Value="NUnit is a testing framework for all .NET languages" />
        <Property Id="ARPURLUPDATEINFO" Value="http://nunit.org" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

        <!-- ***************************************************************** -->
        <!-- **********  Define our GUI using standard WiX UI       ********** -->
        <!-- ***************************************************************** -->
        
        <WixVariable Id="WixUILicenseRtf" Value="$(var.SolutionDir)License.rtf" />
        <UIRef Id="WixUI_Mondo" />
        <UIRef Id="WixUI_ErrorProgressText" />

        <!-- ***************************************************************** -->
        <!-- **********      Define the NUnit feature tree          ********** -->
        <!-- ***************************************************************** -->
        
        <Feature Id="NUNIT" 
                 ConfigurableDirectory="INSTALLDIR" 
                 Level="1" 
                 Title="NUnit !(bind.FileVersion.nunit.engine.dll)" 
                 Display="expand" 
                 Description="Installs the NUnit console runner and supporting assemblies required to write and run tests.">

            <ComponentGroupRef Id="NUNIT.COMMON"/>
			<ComponentGroupRef Id="NUNIT.ENGINE" />
            <ComponentGroupRef Id="NUNIT.CONSOLE" />

            <Feature Id="NUNIT.FRAMEWORK"
                     Level="1"
                     Title="NUnit Framework"
                     Display="expand"
                     Description="Installs the NUnit framework assemblies for the various .NET Frameworks">
                
                <Feature Id="NET20" Level="1" Title=".NET 2.0"
                         Description="Installs the NUnit framework for .NET 2.0" >
                    <ComponentGroupRef Id="NET20"/>
                </Feature>
                <Feature Id="NET35" Level="1" Title=".NET 3.5"
                         Description="Installs the NUnit framework for .NET 3.5" >
                    <ComponentGroupRef Id="NET35"/>
                </Feature>
                <Feature Id="NET40" Level="1" Title=".NET 4.0"
                         Description="Installs the NUnit framework for .NET 4.0" >
                    <ComponentGroupRef Id="NET40"/>
                </Feature>
                <Feature Id="NET45" Level="1" Title=".NET 4.5"
                         Description="Installs the NUnit framework for .NET 4.5" >
                    <ComponentGroupRef Id="NET45"/>
                </Feature>
                <Feature Id="PORTABLE" Level="1" Title=".NET Portable"
                         Description="Installs the NUnit framework for Portable .NET" >
                    <ComponentGroupRef Id="PORTABLE"/>
                </Feature>
                <Feature Id="SL50" Level="1" Title="Silverlight 5.0"
                         Description="Installs the NUnit framework for Silverlight 5.0" >
                    <ComponentGroupRef Id="SL50"/>
                </Feature>
            </Feature>
		</Feature>
	</Product>

    <!-- ***************************************************************** -->
    <!-- **********       Define Directory Structure            ********** -->
    <!-- ***************************************************************** -->
    
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLDIR" Name="NUnit !(bind.FileVersion.nunit.engine.dll)">
                    <Directory Id="BIN" Name="bin">
                        <Directory Id="NET20" Name="net-2.0" />
                        <Directory Id="NET35" Name="net-3.5" />
                        <Directory Id="NET40" Name="net-4.0" />
                        <Directory Id="NET45" Name="net-4.5" />
                        <Directory Id="PORTABLE" Name="portable" />
                        <Directory Id="SL50" Name="sl-5.0" />
                    </Directory>
                </Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
        <ComponentGroup Id="NUNIT.COMMON" Directory="INSTALLDIR">
            <Component Id="CHANGES.txt">
                <File Id="CHANGES.txt" Source="$(var.SolutionDir)CHANGES.txt" />
            </Component>
            <Component Id="LICENSE.txt">
                <File Id="LICENSE.txt" Source="$(var.SolutionDir)LICENSE.txt" />
            </Component>
            <Component Id="NOTICES.txt">
                <File Id="NOTICES.txt" Source="$(var.SolutionDir)NOTICES.txt" />
            </Component>
        </ComponentGroup>
        
		<ComponentGroup Id="NUNIT.ENGINE" Directory="BIN">
			<Component Id="NUNIT.ENGINE">
                <File Id="nunit.engine.dll" Source="$(var.nunit.engine.TargetPath)" />
			</Component>
            <Component Id="NUNIT.ENGINE.API">
                <File Id="nunit.engine.api.dll" Source="$(var.nunit.engine.api.TargetPath)" />
                <File Id="nunit.engine.api.xml" Source="$(var.nunit.engine.api.TargetDir)$(var.nunit.engine.api.TargetName).xml" />
            </Component>
		</ComponentGroup>

        <ComponentGroup Id="NUNIT.CONSOLE" Directory="BIN">
            <Component Id="NUNIT_AGENT">
                <File Id="nunit_agent.exe" Source="$(var.nunit-agent.TargetPath)" />
                <File Id="nunit_agent.exe.config" Source="$(var.nunit-agent.TargetPath).config" />
            </Component>
            <Component Id="NUNIT_AGENT_X86">
                <File Id="nunit_agent_x86.exe" Source="$(var.nunit-agent-x86.TargetPath)" />
                <File Id="nunit_agent_x86.exe.config" Source="$(var.nunit-agent-x86.TargetPath).config" />
            </Component>
            <Component Id="NUNIT_CONSOLE">
                <File Id="nunit_console.exe" Source="$(var.nunit-console.TargetPath)" />
                <File Id="nunit_console.exe.config" Source="$(var.nunit-console.TargetPath).config" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="NET20" Directory="NET20">
            <Component Id="NUNIT.FRAMEWORK.NET20" Guid="D5DB98E2-AF98-4308-83FE-BA4D973F973D">
                <File Id="nunit.framework.20.dll" Source="$(var.nunit.framework-2.0.TargetPath)" />
                <File Id="nunit.framework.20.xml" Source="$(var.nunit.framework-2.0.TargetDir)$(var.nunit.framework-2.0.TargetName).xml" />
                <File Id="nunitlite.20.dll" Source="$(var.nunitlite.runner-2.0.TargetPath)" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="NET35" Directory="NET35">
            <Component Id="NUNIT.FRAMEWORK.NET35" Guid="70141F7C-FE62-407A-B2ED-00BF86FEF595">
                <File Id="nunit.framework.35.dll" Source="$(var.nunit.framework-3.5.TargetPath)" />
                <File Id="nunit.framework.35.xml" Source="$(var.nunit.framework-3.5.TargetDir)$(var.nunit.framework-3.5.TargetName).xml" />
                <File Id="nunitlite.35.dll" Source="$(var.nunitlite.runner-3.5.TargetPath)" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="NET40" Directory="NET40">
            <Component Id="NUNIT.FRAMEWORK.NET40" Guid="20075750-2D60-4798-A348-5FB0930E9034">
                <File Id="nunit.framework.40.dll" Source="$(var.nunit.framework-4.0.TargetPath)" />
                <File Id="nunit.framework.40.xml" Source="$(var.nunit.framework-4.0.TargetDir)$(var.nunit.framework-4.0.TargetName).xml" />
                <File Id="nunitlite.40.dll" Source="$(var.nunitlite.runner-4.0.TargetPath)" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="NET45" Directory="NET45">
            <Component Id="NUNIT.FRAMEWORK.NET45" Guid="6CBE4F8B-8583-48F2-A2FD-2A3875DB8665">
                <File Id="nunit.framework.45.dll" Source="$(var.nunit.framework-4.5.TargetPath)" />
                <File Id="nunit.framework.45.xml" Source="$(var.nunit.framework-4.5.TargetDir)$(var.nunit.framework-4.5.TargetName).xml" />
                <File Id="nunitlite.45.dll" Source="$(var.nunitlite.runner-4.5.TargetPath)" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="PORTABLE" Directory="PORTABLE">
            <Component Id="NUNIT.FRAMEWORK.PORTABLE" Guid="D469144C-53E9-4DEA-8659-84FC9A673EDB">
                <File Id="nunit.framework.portable.dll" Source="$(var.nunit.framework-portable.TargetPath)" />
                <File Id="nunit.framework.portable.xml" Source="$(var.nunit.framework-portable.TargetDir)$(var.nunit.framework-portable.TargetName).xml" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="SL50" Directory="SL50">
            <Component Id="NUNIT.FRAMEWORK.SL50" Guid="FE2ADBC4-DFEC-41A6-8D5A-6DCACC167059">
                <File Id="nunit.framework.sl50.dll" Source="$(var.nunit.framework-sl-5.0.TargetPath)" />
                <File Id="nunit.framework.sl50.xml" Source="$(var.nunit.framework-sl-5.0.TargetDir)$(var.nunit.framework-sl-5.0.TargetName).xml" />
                <File Id="nunitlite.sl50.dll" Source="$(var.nunitlite.runner-sl-5.0.TargetPath)" />
            </Component>
        </ComponentGroup>
	</Fragment>
</Wix>