## Specific overrides for NUNit

# Because they are ignored at the root level of the source but are needed here.
!/images**


###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
_site
