<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" 
             Name="NUnit Runners" 
             Language="1033" 
             Version="!(bind.FileVersion.nunit.engine.dll)" 
             Manufacturer="nunit.org" 
             UpgradeCode="94E18606-9590-4BA1-B002-258860D7B151">
        
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <Condition Message="NUnit requires .NET 2.0, .NET 4.0 or Mono to be installed as a prerequisite.">
            FRAMEWORK20 OR FRAMEWORK40 OR MONODIRECTORY
        </Condition>

        <!-- ***************************************************************** -->
        <!-- **********  Define Properties used in the install      ********** -->
        <!-- ***************************************************************** -->

        <Property Id="FRAMEWORK20">
            <RegistrySearch Id="Framework20Registry" Type="raw" Root="HKLM" Key="Software\Microsoft\.NETFramework\policy\v2.0" Name="50727" />
        </Property>

        <Property Id="FRAMEWORK40">
            <RegistrySearch Id="Framework40Registry" Type="raw" Root="HKLM" Key="Software\Microsoft\.NETFramework\policy\v4.0" Name="30319" />
        </Property>

        <Property Id="MONODEFAULTCLR">
            <RegistrySearch Id="MonoDefaultClr" Type="raw" Root="HKLM" Key="Software\Novell\Mono" Name="DefaultCLR" />
        </Property>

        <Property Id="MONODIRECTORY">
            <RegistrySearch Id="MonoDirectory" Type="directory" Root="HKLM" Key="Software\Novell\Mono\[MONODEFAULTCLR]" Name="SDKInstallRoot" />
        </Property>

        <Property Id="CMD_EXE" Value="[!SystemFolder]cmd.exe" />
        
        <!-- ***************************************************************** -->
        <!-- *********  Properties for the Add Remove Programs list  ********* -->
        <!-- ***************************************************************** -->

        <Property Id="ARPCONTACT" Value="Charlie Poole" />
        <Property Id="ARPPRODUCTICON" Value="nunit_icon.exe" />
        <Property Id="ARPHELPLINK" Value="https://groups.google.com/forum/#!forum/nunit-discuss" />
        <Property Id="ARPURLINFOABOUT" Value="NUnit is a testing framework for all .NET languages" />
        <Property Id="ARPURLUPDATEINFO" Value="http://nunit.org" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

        <!-- ***************************************************************** -->
        <!-- **********  Define our GUI using standard WiX UI       ********** -->
        <!-- ***************************************************************** -->
        
        <WixVariable Id="WixUILicenseRtf" Value="..\..\License.rtf" />
        <UIRef Id="WixUI_Mondo" />
        <UIRef Id="WixUI_ErrorProgressText" />

        <!-- ***************************************************************** -->
        <!-- **********      Define the NUnit feature tree          ********** -->
        <!-- ***************************************************************** -->
        
        <Feature Id="NUNIT.RUNNERS" 
                 ConfigurableDirectory="INSTALLDIR" 
                 Level="1" 
                 Title="NUnit Runners" 
                 Display="expand" 
                 Description="Installs the NUnit engine and tools that allow you to run tests.">

            <ComponentGroupRef Id="NUNIT.COMMON"/>

            <Feature Id="NUNIT.ENGINE"
                     Level="1"
                     Absent="disallow"
                     Title="NUnit Engine"
                     Description="Installs the NUnit engine">
                <ComponentGroupRef Id="NUNIT.ENGINE" />
            </Feature>

            <Feature Id="NUNIT.CONSOLE"
                     Level="1"
                     Title="NUnit Console"
                     Description="Installs the NUnit console runner">
                <ComponentGroupRef Id="NUNIT.CONSOLE" />
            </Feature>
		</Feature>
	</Product>

    <!-- ***************************************************************** -->
    <!-- **********       Define Directory Structure            ********** -->
    <!-- ***************************************************************** -->
    
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLDIR" Name="NUnit.org">
                    <Directory Id="TOOLS" Name="tools" />
                </Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
        <ComponentGroup Id="NUNIT.COMMON" Directory="TOOLS">
            <Component Id="CHANGES.txt">
                <File Id="CHANGES.txt" Source="..\..\CHANGES.txt" />
            </Component>
            <Component Id="LICENSE.txt">
                <File Id="LICENSE.txt" Source="..\..\LICENSE.txt" />
            </Component>
            <Component Id="NOTICES.txt">
                <File Id="NOTICES.txt" Source="..\..\NOTICES.txt" />
            </Component>
        </ComponentGroup>
        
		<ComponentGroup Id="NUNIT.ENGINE" Directory="TOOLS">
			<Component Id="NUNIT.ENGINE">
                <File Id="nunit.engine.dll" 
                      ProcessorArchitecture="msil" 
                      Source="$(var.nunit.engine.TargetPath)" />
			</Component>
            <Component Id="NUNIT.ENGINE.API">
                <File Id="nunit.engine.api.dll" 
                      ProcessorArchitecture="msil" 
                      Source="$(var.nunit.engine.api.TargetPath)" />
                <File Id="nunit.engine.api.xml" 
                      Source="$(var.nunit.engine.api.TargetDir)$(var.nunit.engine.api.TargetName).xml" />
            </Component>
		</ComponentGroup>

        <ComponentGroup Id="NUNIT.CONSOLE" Directory="TOOLS">
            <Component Id="NUNIT_AGENT">
                <File Id="nunit_agent.exe" 
                      ProcessorArchitecture="msil" 
                      Source="$(var.nunit-agent.TargetPath)" />
                <File Id="nunit_agent.exe.config" 
                      Source="$(var.nunit-agent.TargetPath).config" />
            </Component>
            <Component Id="NUNIT_AGENT_X86">
                <File Id="nunit_agent_x86.exe" 
                      ProcessorArchitecture="x86" 
                      Source="$(var.nunit-agent-x86.TargetPath)" />
                <File Id="nunit_agent_x86.exe.config" 
                      Source="$(var.nunit-agent-x86.TargetPath).config" />
            </Component>
            <Component Id="NUNIT_CONSOLE">
                <File Id="nunit_console.exe" 
                      ProcessorArchitecture="msil" 
                      Source="$(var.nunit-console.TargetPath)" />
                <File Id="nunit_console.exe.config" 
                      Source="$(var.nunit-console.TargetPath).config" />
            </Component>
        </ComponentGroup>
	</Fragment>
</Wix>