<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Module Id="NUnit.Runners"
            Language="0"
            Version="!(bind.FileVersion.nunit.engine.dll)">

        <Package Id="69852C66-B20F-4BAD-9B19-C9F3E97CB390"
            Manufacturer="NUnit.org"
            InstallerVersion="200" 
            Languages="1033" 
            InstallScope="perMachine" />

        <!-- Include the information that is common to all installs -->
        <?include ..\common\variables.wxi ?>
    </Module>

    <!-- ***************************************************************** -->
    <!-- **********       Define Directory Structure            ********** -->
    <!-- ***************************************************************** -->

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLDIR" Name="NUnit.org">
                    <Directory Id="BIN" Name="bin">
                        <Directory Id="ADDINS" Name="addins" />
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="NUNIT.COMMON" Directory="BIN">
            <Component Id="CHANGES.txt">
                <File Id="CHANGES.txt" Source="..\..\CHANGES.txt" />
            </Component>
            <Component Id="LICENSE.txt">
                <File Id="LICENSE.txt" Source="..\..\LICENSE.txt" />
            </Component>
            <Component Id="NOTICES.txt">
                <File Id="NOTICES.txt" Source="..\..\NOTICES.txt" />
            </Component>
            <Component Id="nunit.ico">
                <File Id="nunit.ico" Source="..\..\nunit.ico" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="NUNIT.ENGINE" Directory="BIN">
            <Component Id="NUNIT.ENGINE">
                <File Id="nunit.engine.dll"
                      ProcessorArchitecture="msil"
                      Source="$(var.BuildDir)nunit.engine.dll" />
            </Component>
            <Component Id="NUNIT.ENGINE.ADDINS">
                <File Id="nunit.engine.addins"
                      Source="$(var.BuildDir)nunit.engine.addins" />
            </Component>
            <Component Id="NUNIT.ENGINE.ADDIN.XML">
                <File Id="nunit.engine.addin.xml"
                      Source="$(var.BuildDir)nunit.engine.addin.xml" />
            </Component>
            <Component Id="NUNIT.ENGINE.API">
                <File Id="nunit.engine.api.dll"
                      ProcessorArchitecture="msil"
                      Source="$(var.BuildDir)nunit.engine.api.dll" />
                <File Id="nunit.engine.api.xml"
                      Source="$(var.BuildDir)nunit.engine.api.xml" />
            </Component>
            <Component Id="NUNIT_AGENT">
                <File Id="nunit_agent.exe"
                      ProcessorArchitecture="msil"
                      Source="$(var.BuildDir)nunit-agent.exe" />
                <File Id="nunit_agent.exe.config"
                      Source="$(var.BuildDir)nunit-agent.exe.config" />
            </Component>
            <Component Id="NUNIT_AGENT_X86">
                <File Id="nunit_agent_x86.exe"
                      ProcessorArchitecture="x86"
                      Source="$(var.BuildDir)nunit-agent-x86.exe" />
                <File Id="nunit_agent_x86.exe.config"
                      Source="$(var.BuildDir)nunit-agent-x86.exe.config" />
            </Component>
            <Component Id="MONO.ADDINS">
                <File Id="Mono.Addins.dll"
                      Source="$(var.BuildDir)Mono.Addins.dll" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="NUNIT.CONSOLE" Directory="BIN">
            <Component Id="NUNIT_CONSOLE">
                <File Id="nunit_console.exe"
                      ProcessorArchitecture="msil"
                      Source="$(var.BuildDir)nunit-console.exe" />
                <File Id="nunit_console.exe.config"
                      Source="$(var.BuildDir)nunit-console.exe.config" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="ADDINS.NUNIT.PROJECT.LOADER" Directory="ADDINS">
            <Component Id="ADDINS.NUNIT.PROJECT.LOADER">
                <File Id="nunit_project_loader.dll"
                      Source="$(var.BuildDir)addins\nunit-project-loader.dll" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="ADDINS.VS.PROJECT.LOADER" Directory="ADDINS">
            <Component Id="ADDINS.VS.PROJECT.LOADER">
                <File Id="vs_project_loader.dll"
                      Source="$(var.BuildDir)addins\vs-project-loader.dll" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="ADDINS.NUNIT.V2.WRITER" Directory="ADDINS">
            <Component Id="ADDINS.NUNIT.V2.WRITER">
                <File Id="nunit_v2_result_writer.dll"
                      Source="$(var.BuildDir)addins\nunit-v2-result-writer.dll" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="NUNIT.V2.DRIVER" Directory="ADDINS">
            <Component Id="NUNIT.V2.DRIVER">
                <File Id="nunit.v2.driver.dll"
                      Source="$(var.BuildDir)addins\nunit.v2.driver.dll" />
            </Component>
            <Component Id="NUNIT.2.CORE">
                <File Id="nunit.core.dll"
                      Source="$(var.BuildDir)addins\nunit.core.dll" />
            </Component>
            <Component Id="NUNIT.2.CORE.INTERFACES">
                <File Id="nunit.core.interfaces.dll"
                      Source="$(var.BuildDir)addins\nunit.core.interfaces.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>