name: Continuous Integration

on:
  push:
    branches:
      - master
      - release
      - 'v3.13-dev'
  pull_request:
    branches:
      - master
      - release
      - 'v3.13-dev'

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install dotnet tools
      run: dotnet tool restore

    - name: Build and Test
      run: dotnet cake --target=Test --test-run-name=Windows --configuration=Release

    - name: Package
      run: dotnet cake --target=Package

    - name: Upload build artifacts
      uses: actions/upload-artifact@v2
      with:
        name: Package
        path: package

    - name: Upload test results
      uses: actions/upload-artifact@v2
      with:
        name: Test results (Windows)
        path: test-results
      # Use always() to always run this step to publish test results when there are test failures
      if: ${{ always() }}

  build-linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET Core SDK 3.1.x
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.x'

    - name: Setup .NET Core SDK 5.0.x
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0.x'

    - name: Install F#
      run: sudo apt-get install fsharp

    - name: Install dotnet tools
      run: dotnet tool restore

    - name: Build and Test
      run: dotnet cake --target=Test --test-run-name=Linux --configuration=Release

    - name: Upload test results
      uses: actions/upload-artifact@v2
      with:
        name: Test results (Linux)
        path: test-results
      # Use always() to always run this step to publish test results when there are test failures
      if: ${{ always() }}

  build-macos:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET Core SDK 3.1.x
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.x'

    - name: Setup .NET Core SDK 5.0.x
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0.x'

    - name: Install dotnet tools
      run: dotnet tool restore

    - name: Build and Test
      run: dotnet cake --target=Test --test-run-name=Linux --configuration=Release

    - name: Upload test results
      uses: actions/upload-artifact@v2
      with:
        name: Test results (macOS)
        path: test-results
      # Use always() to always run this step to publish test results when there are test failures
      if: ${{ always() }}
